input {
  padding: 10px 20px;
  margin: 0px;
  background-color: #c7b785;
  color: #575347;
  border: solid;
  border-color: #ece0b9;
  border-radius: 30px 30px 30px 2px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  box-sizing: border-box;

  cursor: pointer;

  &::placeholder {
    color: #ffffff;
    opacity: 1;
  }
}
